.i1 {
  grid-area: i1;
}

.f1 {
  grid-area: f1;
}

.f2 {
  grid-area: f2;
}

.f3 {
  grid-area: f3;
}

.c1 {
  grid-area: c1;
}

.f1,
.f2,
.f3 {
  outline: 3px black solid;
}

.f1:hover,
.f2:hover,
.f3:hover {
  translate: -8px -8px;
  box-shadow: 8px 8px black;
}

html {
  font-size: x-large;
}

body {
  margin: auto;
  max-width: 800px;
  grid-template-areas: "i1 i1" "f1 f2" "f1 f3" "c1 c1";
}