.i1 {
  grid-area: i1;
}

.i2 {
  grid-area: i2;
}

.f1 {
  grid-area: f1;
}

.f2 {
  grid-area: f2;
}

.f3 {
  grid-area: f3;
}

.f4 {
  grid-area: f4;
}

.f5 {
  grid-area: f5;
}

.c1 {
  grid-area: c1;
  position: relative;
}
.c1 p {
  position: absolute;
  top: 0;
}

.c2 {
  grid-area: c2;
  background-image: url("../images/accent-bg.png");
}

@media only screen and (min-width: 1700px) {
  html {
    font-size: x-large;
  }
  .f4,
.f5,
.c1,
.c2 {
    outline: 3px black solid;
  }
  .f4:hover,
.f5:hover,
.c1:hover,
.c2:hover {
    translate: -8px -8px;
    box-shadow: 8px 8px black;
  }
  body {
    width: 1700px;
    grid-template-rows: 75px 75px 115px 190px 8rem 215px 110px;
    grid-template-columns: 4fr 4fr 3fr 4fr;
    grid-template-areas: "i1 f2 c2 c2" "i1 f2 c1 c1" "f1 f1 c1 c1" "f3 f3 c1 c1" ".. .. c1 c1" "i2 i2 c1 c1" "i2 i2 f4 f5";
  }
}
@media only screen and (max-width: 1700px) and (min-width: 1000px) {
  html {
    font-size: x-large;
  }
  .c1,
.c2 {
    outline: 3px black solid;
  }
  .c1:hover,
.c2:hover {
    translate: -8px -8px;
    box-shadow: 8px 8px black;
  }
  body {
    width: 1000px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 175px 200px 75px 40px 8rem 80px 110px 110px;
    grid-template-areas: "i1 f2" "f1 i2" "f3 c2" "f3 c1" "f3 c1" ".. c1" "f5 c1" "f4 c1";
  }
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: x-large;
  }
  .f4,
.f5,
.c1,
.c2 {
    outline: 3px black solid;
  }
  .c1 {
    padding-top: 100%;
  }
  body {
    margin: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "i1 i1" "f2 f1" "i2 i2" "c2 c2" "f3 f3" "c1 c1" "f4 f4" "f5 f5";
  }
}